
body {margin: 1oo;
  background-color: powderblue;
  text-align: center;
  font-family:Sacramento;
}

h1 {margin-top:0;

}

p{font-family: cursive;
  font-size: 15px
}

h2{font-family: sans-serif;
}

h3 {font-size: 25px
}
div {background-color: plum;

.bottom-container{
  font-family: cursive;
font size: 50px
  }


.bottom-cloud{
  position: relative;
  padding: 0px
}

.top-cloud{
  position: relative;
}
